[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
python-language-server = "*"
flake8 = "*"
ipython = "*"
pytest-cov = "*"

[packages]

[requires]
python_version = "3.7"
